<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Detalles del Viaje</title>
</head>
<body>
<h1>Detalles del Viaje</h1>

<div th:if="${viaje}">
    <p><strong>Ruta:</strong> <span th:text="${viaje.ruta}"></span></p>
    <p><strong>Propietario:</strong> <span th:text="${viaje.propietario}"></span></p>
    <p><strong>Día de Salida:</strong> <span th:text="${viaje.getFechaDia()}"></span></p>
    <p><strong>Hora de Salida:</strong> <span th:text="${viaje.getFechaHora()}"></span></p>
    <p><strong>Plazas Ofertadas:</strong> <span th:text="${viaje.plazasOfertadas}"></span></p>
    <p><strong>Precio:</strong> <span th:text="${viaje.precio}"></span></p>
    <p><strong>Duración (en horas):</strong> <span th:text="${viaje.duracion}"></span></p>
</div>

<h2>Reservas</h2>
<table>
    <thead>
    <tr>
        <th>Cod. Reserva</th>
        <th>Usuario</th>
        <th>Plazas Solicitadas</th>
        <th>Fecha y Hora de salida</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva : ${reservas}">
        <td th:text="${reserva.codigoReserva}"></td>
        <td th:text="${reserva.usuario}"></td>
        <td th:text="${reserva.plazasSolicitadas}"></td>
        <td th:text="${#temporals.format(reserva.viaje.fechaSalida, 'dd/MM/yyyy HH:mm')}"></td>
        <td>
            <form th:action="@{/viaje/reserva/detalle}" method="get">
                <input type="hidden" name="codigoReserva" th:value="${reserva.codigoReserva}" />
                <button type="submit" class="btn">Detalle</button>
            </form>
            <form th:action="@{/viaje/reserva/cancelar}" method="post">
                <input type="hidden" name="codigoReserva" th:value="${reserva.codigoReserva}" />
                <button type="submit" class="btn">Cancelar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{/viajes}">Volver al listado de viajes</a>

<span th:if="${!viaje.isCerrado()}">
    <form th:action="@{/viaje/delete}" method="post" th:object="${viaje}">
        <input type="hidden" th:name="codViaje" th:value="${viaje.getCodViaje()}"/>
        <button type="submit" class="btn">Cancelar</button>
    </form>
</span>

<span th:if="${viaje.estaDisponible()}">
    <form th:action="@{/viaje/reserva/add}" method="get">
        <input type="hidden" name="codViaje" th:value="${viaje.getCodViaje()}">
        <button type="submit">Reservar</button>
    </form>
</span>

</body>
</html>
